$color-primary: #3046C5;
$color-secondary: #5637dd;
$color-pale: white;
$color-mid: #901CAD;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-teal: #17A2B8;

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

body {
    font-family: $body-font;
}
h1, h2, h3 {
    font-family: $header-font;
}

h3{
    padding: 10px 0;
}

h2 {
    color: $color-primary; 

}

header h2 {
    color: #a7a0df;
  
}
.site-footer {
    background-image: linear-gradient(#afa7ee, $color-pale);
 
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5632c2, #2b3fb1, #361694);
    color: $color-pale;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar {
    background-color: $color-mid;
}

.tab-content {
    border: 1px solid #DDD;
    top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0,0,0,.5);

}

#carouselButton{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#loginModal {
    .modal-header {
        background-color: $color-mid;
        color: $color-pale;
        
    }
  
}

#reserveModal {
    .modal-header{
        background-color: $color-teal;
        color: $color-pale;
    }
}
