body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h3 {
  padding: 10px 0; }

h2 {
  color: #3046C5; }

header h2 {
  color: #a7a0df; }

.site-footer {
  background-image: linear-gradient(#afa7ee, white); }

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(to right, #5632c2, #2b3fb1, #361694);
  color: white;
  margin: 0; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #901CAD; }

.tab-content {
  border: 1px solid #DDD;
  top: none;
  padding: 10px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

#loginModal .modal-header {
  background-color: #901CAD;
  color: white; }

#reserveModal .modal-header {
  background-color: #17A2B8;
  color: white; }
